@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #151515;
  height: 15vh;
}

nav .nav-list a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 1000;
}

nav .nav-list a:hover {
  color: #94cb76;
}

nav .logo img {
  width: 200px;
}

.nav-list {
  list-style: none;
  display: flex;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.nav-list li {
  letter-spacing: 1px;
  padding: 8px;
  font-size: 15px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/* Corpo */
main {
  background-size: cover;
  height: 85vh;
}

main #content {
  background-color: #f5f5f5;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* Texto corpo */
main #content .container .contentText {
  font-family: "Poppins", Arial, Helvetica;
  display: flex;
  flex-direction: column;
}

main #content .container .contentText h1 {
  font-size: 70px;
  line-height: 75px;
  color: #94cb76;
  font-family: "Open Sans", "Poppins", Arial, Helvetica;
}

main #content .container .contentText h3 {
  color: #151515;
}

main #content .container .contentText p {
  color: #151515;
}

main #aboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}

main #aboutUs .about {
  width: 500px;
}

main #aboutUs .about h1 {
  font-family: "Poppins", Arial, Helvetica;
  color: #151515;
}

main #aboutUs .about p {
  font-family: "Poppins", Arial, Helvetica;
  color: #151515;
}

main #aboutUs .imgAbout img {
  width: 300px;
}

main #services {
  background-color: #f1fff1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #services .services {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #services .services h1 {
  color: #94cb76;
  font-family: "Open Sans", "Poppins", Arial, Helvetica;
}

main #services .services h4 {
  color: #ec3030;
  font-family: "Open Sans", "Poppins", Arial, Helvetica;
}

main #services .servicesList {
  display: flex;
  flex-direction: row;
}

main #services .servicesList ul {
  font-family: "Poppins", Arial, Helvetica;
  font-weight: 700;
  padding: 20px;
}

main #services .services .iconBox {
  display: flex;
  flex-direction: row;
}

main #services .services .iconBox img {
  width: 60px;
  margin: 0 1.5rem 0 1.5rem;
}

main #contacts {
  background-color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

main #contacts .imgContacts img {
  width: 200px;
}

main #contacts .contactsList {
  display: flex;
  flex-direction: column;
}

main #contacts .contactsList h2 {
  color: #94cb76;
  font-family: "Open Sans", "Poppins", Arial, Helvetica;
  line-height: 50px;
}

main #contacts .contactsList a i {
  font-family: "Open Sans", "Poppins", Arial, Helvetica;
  color: #fff;
  font-weight: 500;
  line-height: 22px;
}

main #contacts .contactsList i:hover {
  color: #94cb76;
}

main #contacts .contactsList i {
  font-family: "Open Sans", "Poppins", Arial, Helvetica;
  color: #fff;
  font-weight: 500;
}

main #contacts .contactsList .iconTime i {
  color: #fff;
  line-height: 22px;
}

main #contacts .contactsList .iconTime i:hover {
  color: #fff;
}

footer {
  background-color: #000000;
  padding: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
}

footer p {
  color: #f5f5f5;
  font-family: "Open Sans", "Poppins", Arial, Helvetica;
  font-size: 14px;
}

footer p a {
  color: #bcbcbc;
  text-decoration: none;
}

footer p a strong:hover {
  color: #94cb76;
}

footer p a:hover {
  color: #ec3030;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #474747;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 1100px) {
  main #content {
    flex-direction: row;
    padding: 10px;
  }

  main #content .container .contentText h1 {
    font-size: 50px;
    line-height: 50px;
  }

  main #content .container .contentText h3 {
    font-size: 23px;
  }

  main #content .container .contentText p {
    font-size: 15px;
  }

  main #content .contentImg img {
    width: 330px;
  }

  main #aboutUs .about {
    width: 350px;
  }

  main #aboutUs .about h1 {
    font-size: 35px;
  }

  main #aboutUs .about p {
    font-size: 15px;
  }

  main #aboutUs .imgAbout img {
    width: 280px;
  }

  main #services .services h1 {
    font-size: 35px;
  }

  main #services .services h4 {
    font-size: 23px;
  }

  main #services .servicesList ul {
    font-size: 14px;
  }

  main #services .services .iconBox img {
    width: 50px;
  }

  main #contacts .imgContacts img {
    width: 150px;
  }

  main #contacts .contactsList h2 {
    font-size: 27px;
    line-height: 30px;
  }

  main #contacts .contactsList a i {
    font-size: 16px;
  }

  main #contacts .contactsList i {
    font-size: 16px;
  }

  footer p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  nav .logo img {
    width: 150px;
  }

  main #content .container .contentText h1 {
    font-size: 35px;
    line-height: 35px;
  }

  main #content .container .contentText h3 {
    font-size: 16px;
  }

  main #content .container .contentText p {
    font-size: 13px;
  }

  main #content .contentImg img {
    width: 240px;
  }

  main #aboutUs .about h1 {
    font-size: 25px;
  }

  main #aboutUs .about p {
    font-size: 13px;
  }

  main #aboutUs .imgAbout img {
    width: 200px;
  }

  main #services .services h1 {
    font-size: 25px;
  }

  main #services .services h4 {
    font-size: 17px;
  }

  main #services .servicesList ul {
    font-size: 13px;
  }

  main #services .services .iconBox img {
    width: 50px;
  }

  main #contacts .imgContacts img {
    width: 150px;
  }

  main #contacts .contactsList h2 {
    font-size: 25px;
  }

  main #contacts .contactsList a i {
    font-size: 16px;
  }

  main #contacts .contactsList i {
    font-size: 16px;
  }

  footer p {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  nav .logo img {
    width: 125px;
  }

  main #content {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  main #content .container .contentText h1 {
    font-size: 40px;
    line-height: 40px;
  }

  main #content .container .contentText h3 {
    font-size: 18px;
  }

  main #content .container .contentText p {
    font-size: 14px;
  }

  main #content .contentImg img {
    width: 320px;
  }

  main #aboutUs {
    flex-direction: column;
  }

  main #aboutUs .about {
    width: 410px;
  }

  main #aboutUs .about h1 {
    font-size: 30px;
    text-align: center;
  }

  main #aboutUs .about p {
    font-size: 14px;
    text-align: center;
  }

  main #aboutUs .imgAbout img {
    width: 250px;
  }

  main #services .services h1 {
    font-size: 30px;
  }

  main #services .services h4 {
    font-size: 18px;
  }

  main #services .servicesList {
    flex-direction: column;
    width: 400px;
  }

  main #services .servicesList ul {
    font-size: 14px;
  }

  main #services .services .iconBox img {
    width: 50px;
  }

  main #contacts .imgContacts img {
    display: none;
  }

  main #contacts .contactsList h2 {
    font-size: 26px;
    line-height: 30px;
  }

  main #contacts .contactsList a i {
    font-size: 16px;
  }

  main #contacts .contactsList i {
    font-size: 16px;
  }

  footer p {
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (max-width: 435px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  nav .logo img {
    width: 125px;
  }

  main #content {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  main #content .container .contentText h1 {
    font-size: 35px;
    line-height: 35px;
  }

  main #content .container .contentText h3 {
    font-size: 17px;
  }

  main #content .container .contentText p {
    font-size: 13px;
  }

  main #content .contentImg img {
    width: 300px;
  }

  main #aboutUs {
    flex-direction: column;
  }

  main #aboutUs .about {
    width: 330px;
  }

  main #aboutUs .about h1 {
    font-size: 30px;
    text-align: center;
  }

  main #aboutUs .about p {
    font-size: 13px;
    text-align: center;
  }

  main #aboutUs .imgAbout img {
    width: 250px;
  }

  main #services .services h1 {
    font-size: 27px;
  }

  main #services .services h4 {
    font-size: 17px;
  }

  main #services .servicesList {
    flex-direction: column;
    width: 330px;
  }

  main #services .servicesList ul {
    font-size: 13px;
  }

  main #services .services .iconBox img {
    width: 50px;
    margin: 10px;
  }

  main #contacts .imgContacts img {
    display: none;
  }

  main #contacts .contactsList h2 {
    font-size: 21px;
    line-height: 30px;
  }

  main #contacts .contactsList a i {
    font-size: 16px;
  }

  main #contacts .contactsList i {
    font-size: 16px;
  }

  footer p {
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  nav .logo img {
    width: 125px;
  }

  main #content {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  main #content .container .contentText h1 {
    font-size: 33px;
    line-height: 33px;
  }

  main #content .container .contentText h3 {
    font-size: 15px;
  }

  main #content .container .contentText p {
    font-size: 12px;
  }

  main #content .contentImg img {
    width: 275px;
  }

  main #aboutUs {
    flex-direction: column;
  }

  main #aboutUs .about {
    width: 295px;
  }

  main #aboutUs .about h1 {
    font-size: 27px;
    text-align: center;
  }

  main #aboutUs .about p {
    font-size: 12px;
    text-align: center;
  }

  main #aboutUs .imgAbout img {
    width: 225px;
  }

  main #services .services h1 {
    font-size: 24px;
  }

  main #services .services h4 {
    font-size: 17px;
  }

  main #services .servicesList {
    flex-direction: column;
    width: 290px;
  }

  main #services .servicesList ul {
    font-size: 12px;
  }

  main #services .services .iconBox img {
    width: 50px;
    margin: 8px;
  }

  main #contacts .imgContacts img {
    display: none;
  }

  main #contacts .contactsList h2 {
    font-size: 17px;
    line-height: 30px;
  }

  main #contacts .contactsList a i {
    font-size: 16px;
  }

  main #contacts .contactsList i {
    font-size: 16px;
  }
}

@media screen and (max-width: 290px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  nav .logo img {
    width: 125px;
  }

  main #content {
    flex-direction: column;
    padding: 10px;
  }

  main #content .container .contentText h1 {
    font-size: 30px;
    line-height: 30px;
  }

  main #content .container .contentText h3 {
    font-size: 14px;
  }

  main #content .container .contentText p {
    font-size: 12px;
  }

  main #content .contentImg img {
    width: 250px;
  }

  main #aboutUs {
    flex-direction: column;
  }

  main #aboutUs .about {
    width: 250px;
  }

  main #aboutUs .about h1 {
    font-size: 25px;
    text-align: center;
  }

  main #aboutUs .about p {
    font-size: 12px;
    text-align: center;
  }

  main #aboutUs .imgAbout img {
    width: 250px;
  }

  main #services .services h1 {
    font-size: 25px;
  }

  main #services .services h4 {
    font-size: 14px;
  }

  main #services .servicesList {
    width: 250px;
    flex-direction: column;
  }

  main #services .servicesList ul {
    font-size: 11px;
  }

  main #services .services .iconBox img {
    width: 50px;
    margin: 5px;
  }

  main #contacts .imgContacts img {
    display: none;
  }

  main #contacts .contactsList h2 {
    font-size: 27px;
    line-height: 25px;
  }

  main #contacts .contactsList a i {
    font-size: 14px;
  }

  main #contacts .contactsList i {
    font-size: 16px;
  }

  footer p {
    font-size: 12px;
    text-align: center;
  }
}
